#macro(mainLayout)
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Cod'Flix</title>

    <link href="/css/partials/partials.css" rel="stylesheet" />
    <link href="/css/layout/layout.css" rel="stylesheet" />

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>


<body>
<div id="content">
    $bodyContent
</div>

<script src="/lib/jquery/jquery-3.5.0.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
#end
