#parse("base.html")
#@mainLayout()
<div id="home">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">Cod<span>'Flix</span></h1>
                    <p>
                        <strong>Bienvenue</strong>
                    </p>
                </div>
            </div>
            <div class="row btn-container">
                <div class="col-md-6"><a href="/login" class="btn btn-block bg-red">Connexion</a></div>
                <div class="col-md-6"><a href="/signup" class="btn btn-block bg-blue">Inscription</a></div>
            </div>
        </div>
    </div>
</div>
#end
